{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>uu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/uu.css' %}">
	<script src="{% static 'polls/js/echarts.js' %}"></script>
    <script src="{% static 'polls/js/jquery-3.2.1.js' %}"></script>
</head>
<body>
	<div class="div">
		<div id="user">
			<div class="ll">
				<select class="one">
					<option value="000000000000">000000000000</option>
					<option value="123456">123456</option>
				</select>
			</div>
			<div id="user3">
				<div id="user1"></div>
				<div id="user2"></div>
			</div>
			<div id="user4">
				<div id="user5"></div>
			</div>
		</div>
	</div>
	<script src="{% static 'polls/js/uu.js' %}"></script>
</body>
</html>